@import '_reset.scss';

/* Main styles */

html {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;

    body {
        margin: 0;
        min-height: 100%;
    }

    h1 {
        font-size: 30px;
    }
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

/* Layout styles */

#root {
    width: 100%;
    position: absolute;
    min-height: 100%;
    height: 100%
}
.app-container {
    background: #F5F5F5;
    overflow: hidden;
    min-height: 100%;
    position: relative;
}

.props-container {
    width: auto;
    min-height: auto;
    position: relative;;
}

/* Media queries */
