@import '_reset.scss';

/* Main styles */

html {
    width: 100%;
    font-family: 'Roboto', sans-serif;

    h1 {
        font-size: 30px;
    }
}

/* Layout styles */

.app-container {
    overflow: hidden;
}

/* Media queries */

@media (max-width: 321px) {

}
