@import '_reset.scss';

/* Main styles */
p {
    font-family: 'Roboto', sans-serif;
}
h1, h1, h3, a {
    font-family: 'Montserrat', sans-serif;
}

/* Layout styles */

/* Media queries */

@media (max-width: 321px) {
    h1 {
        font-size: 17px !important;
    }
}
